.container {
    width: 100%;
    padding: 1.2rem;
}

.titleContainer {
    margin-top: 3.2rem;
    max-width: 720px;
    text-align: center;
    margin: 0 auto;

    h1 {
        font-size: 4rem;
    }

    p {
        margin-top: 1.6rem;
    }
}

.slider {
    margin: 5.6rem auto 0;
    display: flex;
    width: 100%;
    max-width: 900px;
     overflow: hidden;
     scroll-snap-type: x mandatory;
     -webkit-overflow-scrolling: touch;
     scroll-behavior: smooth;
     gap: 3.2rem;

    @media(min-width: 540px) {
        flex-wrap: wrap;
        justify-content: center;
    }

     @media (hover: none), (max-width: 540px) {
         overflow-x: scroll;

         &::-webkit-scrollbar {
             display: none;
         }
     }
}