.container {
    padding: 5rem 1.2rem 0;
    background: var(--gray-900);
    border-bottom: 1px solid var(--gray-700);
}

.content {
    margin: 3.2rem auto;
    position: relative;
    padding: 4.8rem 1.6rem !important;
    border-radius: 8px;
    max-width: 1120px;
    background: var(--gray-300);
    padding: .1rem 3.2rem;
    box-shadow: 15px 6px 15px rgba(0,0,0,0.5);

    h1 {
      text-align: center;
      font-size: 3.2rem;
      color: var(--gray-700);
      margin-bottom: 2.4rem;
    }

    h1.img{
      margin-top: 3.2rem;
    }

    p {
        font-size: 2rem;
        font-weight: bold;
        color: var(--gray-700);
        line-height: 4rem;

        span {
            word-wrap: break-word;
            color: var(--gray-700);
            font-size: 1.8rem;
            font-weight: 400;
            margin-left: .8rem;
        }
    }

    a {
        text-decoration: underline;
        color: var(--blue-900);
    }
}

.imgContainer {
  margin-top: 2.4rem;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.4rem;
  }

  .smalImage {
    width: 28rem;
    height: 20.5rem;
  }
}

.contato {
  display: block;
  margin: 2.4rem auto 0;
  width: 100%;
  max-width: 36rem;
  height: 4rem;
  border-radius: 4rem;
  border: 0;
  padding: .8rem 1.2rem;
  font-size: 1.6rem;
  color: var(--gray-700) !important;
  text-decoration: none !important;
  background: var(--blue-900);
  transition: filter .2s;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 240px;
  font-weight: bold;
  font-size: 1.8rem;

  &:hover {
      filter: brightness(0.9);
  }
}

.back {
  position: absolute;
  top: 1.6rem;
  left: 1.6rem;
  svg {
    width: 3.2rem !important;
    height: 3.2rem !important;
  }
}
