.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: rgba(0,0,0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContainer {
  background: var(--gray-300);
  position: relative;
  border-radius: 8px;
  padding: 1.6rem;
  width: 100%;
  max-width: 40rem;
  height: 64vh;

  h1 {
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 1.6rem;
  }


  > label {
    font-weight: 700;
    font-size: 2rem;
    font-family: Roboto;
  }
}

.close {
  position: absolute;
  top: 4px;
  right: 4px;
  border: 0;
  svg {
    color: var(--gray-700);
  }
}

.imageContainer {

  position: relative;
  width: 28rem;
  height: 20.5rem;
  margin-top: 1.6rem;
  background: var(--gray-300);
  filter: brightness(0.8);

  img{
    width: 28rem;
    height: 20.5rem;
  }

label {
  position: absolute;
  width: 32px;
  height: 32px;
  background: var(--blue-900);
  border-radius: 50%;
  right: -10px;
  bottom: -10px;
  border: 0;
  transition: background-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
      width: 16px;
      height: 16px;
      color: var(--gray-300);
  }
  transition: filter .2s;
  &:hover {
    filter: brightness(0.9);
  }

  input {
      display: none;
  }
}
}

.addBtn {
  display: block;
  margin: 4rem auto;
  height: 4rem;
  padding: .8rem 1.2rem;
  background: var(--blue-900);
  border: 0;
  border-radius: 6px;
  font-size: 1.6rem;
  font-weight: bold;
  transition: filter .2s;
  &:hover {
    filter: brightness(0.9);
  }
}
