* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

:root {
    --white: #fff;
    --gray-300: #F0F0F1;
    --gray-400: #57727d;
    --gray-700: #222222;
    --gray-900: #444;
    --blue-900: #70a4aa;
    --yellow-900: #f1bf7f;
}

html {
    font-size: 62.5%;
}

@media (max-width: 1080px) {
    html {
        font-size: 58%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 54%;
    }
}

body {
    background: var(--white);
    -webkit-font-smoothing: antialiased;
}

body, input, textarea, select, button {
    font: 400 1rem "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6, strong {
    font-weight: 700;
    font-family: 'Roboto';
    color: var(--gray-700);
}

button {
    cursor: pointer;
}

span, p {
    font-family: 'Roboto';
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--gray-400);
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

.Toastify__toast {
    font-size: 1.8rem;
    font-family: 'Roboto';
}

.react-confirm-alert-overlay {
    background: rgba(0, 0, 0, 0.5) !important;
}

.react-confirm-alert-body {
        font-size: 1.6rem;
}
