.container {
    width: 100%;
    min-height: 100vh;
    padding: 5rem 0;
    margin: 0 auto;
    overflow: hidden;
}

.content {
    background: var(--gray-900);
}

.banner {
  width: 100vw;
  height: 100%;
  background: var(--gray-900);
  max-height: 30vh;
  padding: 0 1.6rem;
  img {
    display: block;
    width: 100%;
    max-width: 30vw;
    height: 100%;
    max-height: 30vh;
    margin: 0 auto;
  }

}

.listProperties {
    margin: 1.6rem auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
    max-width: 900px;

    h1 {
        font-size: 2.4rem;
    }
}
