.headerContainer {
    height: 5rem;
    background: var(--gray-700);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}


.headerContent {
    max-width: 1120px;
    height: 5rem;
    margin: 0 auto;
    padding: 0 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        width: 4rem;
        height: 4rem;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: space-between;


        &.hamburguer {
            color: var(--gray-300);
        }

        a {
            font-size: 1.6rem;
            color: var(--gray-300);
        }

        svg {
            color: #138EFF;
            margin-right: .8rem;;
        }
    }
    @media (max-width: 768px) {
        .menuAdmin, .menuLandingPage, .imgAdmin, .imgPage{
            display: none;
        }
    }

    @media (min-width: 768px) {
        .hamburguer {
            display: none;
        }
    }
}

.phone {
  height: 2.8rem;
  border-radius: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-300);
  font: 700 1.6rem 'Roboto';
  background: var(--blue-900);
  padding: .8rem 1.2rem;
  margin-left: auto;
  svg {
    margin-right: .8rem;
  }

  span {
    color: var(--gray-300);
    font: 700 1.6rem 'Roboto';
  }

  &:hover {
    filter: brightness(.9);
  }

  @media(max-width: 768px) {
    border-radius: 8px;
    padding: 0;
    height: 3.2rem;
    width: 3.2rem;

    span {
      display: none;
    }

    svg {
      margin-right: 0;
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}

.nav {
    height: 5rem;

    & + nav {
        margin-left: 5rem;
    }

    @media (max-width: 768px) {
        & + nav {
            margin-left: 0;
        }
        display: flex;
        justify-content: center;
    }

    a {
        display: inline-block;
        position: relative;
        padding: 0 0.5rem;
        height: 5rem;
        line-height: 5rem;
        color: var(--gray-300);
        transition: color 0.2s;
        font-size: 2rem;

        & + a {
            margin-left: 2rem;
        }


        &:hover {
            color: var(--blue-900);
        }

        &.active {
            color: var(--blue-900);
            font-weight: bold;
        }

        &.active::after {
            content: '';
            height: 3px;
            border-radius: 3px 3px 0 0;
            width: 100%;
            position: absolute;
            bottom: 1px;
            left: 0;
            background: var(--blue-900);
        }

    }

    button {
        background: transparent;
        position: relative;
        border: 0;

        font-size: 1.6rem;


        &.active {
            color: var(--blue-900);
            font-weight: bold;
        }

        &.active::after {
            content: '';
            height: 3px;
            border-radius: 3px 3px 0 0;
            width: 100%;
            position: absolute;
            bottom: 1px;
            left: 0;
            background: var(--blue-900);
        }
    }
}

.buttonLogout {
    background: transparent;
    border: 0;

    transition: filter .2s;

    &:hover {
        filter: brightness(0.9);
    }
}
