.container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: rgba(0,0,0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
}

.loadingContainer {
    background: var(--gray-300);

    width: 22rem;
    height: 14rem;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 2.4rem;
        height: 2.4rem;

        color: var(--gray-700);

        @keyframes loading {
            0% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(360deg);
        }
        }
        animation: loading 2s linear infinite;
    }

    span {
        margin-left: .8rem;
        font-size: 2rem;
        color: var(--gray-700);
    }
}
