.propertyContainer {
    width: 100%;
    height: 100%;
    min-width: 36rem;
    max-width: 36rem;
    max-height: 47rem;
    border-radius: 6px;
    // text-overflow: ellipsis;
    // overflow: hidden;
    // white-space: nowrap;
}

.imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 16rem;
    max-height: 16rem;
    border-radius: 6px 6px 0 0;

    img {
        max-height: 16rem;
        min-height: 16rem;
        width: 100%;
        height: 100%;
        border-radius: 6px 6px 0 0;
        filter: brightness(0.7);
    }

    div {
        position: absolute;
        bottom: 1.2rem;
        left: 0;
        right: 0;

        padding: 0 2rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        span, a {
            color: var(--white);
            font-weight: 900;
            font-size: 1.2rem;

            display: flex;
            align-items: center;
            white-space: nowrap;
        }

        svg {
            margin-right: .8rem;
        }
    }
}

.informationContainer {
    height: 100%;
    min-height: 20rem;
    max-height: 20rem;
    margin-top: -.2rem;
    background: var(--blue-900);
    padding: 1.6rem;
    border-radius: 0px 0px 6px 6px;

    h1 {
        font-size: 2rem !important;
    }

    strong {
        display: block;
        font-size: 1.6rem;
        color: var(--yellow-900);
        margin: 1.2rem 0;
    }

    p {
        color: var(--gray-700);
    }

    
}

.descricao {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
}

.buttonContainer {
    background: var(--blue-900);
    padding: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        width: 100%;
        max-width: 9.6rem;
        height: 3.2rem;
        border-radius: 6px;
        border: 0;
        background: var(--yellow-900);
        font-size: 1.4rem;
        font-weight: 700;
        color: var(--gray-700);
        transition: filter 0.2s;

        &:hover {
            filter: brightness(0.9);
        }
    }
}
