.container {
    margin: 0 auto;
    height: 100vh;
    background: var(--gray-900);
    display: flex;
    align-items: center;

    @media (min-width: 770px) {
        padding: 0 16rem;
        justify-content: space-between;
    }
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    height: 30rem;
    max-width: 30rem;
    border-radius: 8px;
    background: var(--gray-700);
    box-shadow: 15px 15px 8px rgba(0,0,0,0.3);
    padding: 4rem;

    @media (max-width: 770px) {
        margin: 0 auto;
    }

    label {
        color: var(--gray-300);
        font-size: 1.6rem;
        margin-bottom: .8rem;
    }

    input + label {
        margin-top: 1.6rem;
    }

    input {
        height: 4rem;
        border-radius: 8px;
        border: 0;
        padding: .8rem 1.2rem;
        font-size: 1.6rem;
        color: var(--gray-700);

        &::placeholder {
            color: var(--gray-900);
        }
    }


    button {
        margin-top: 2.4rem;
        height: 4rem;
        border-radius: 4rem;
        border: 0;
        padding: .8rem 1.2rem;
        font-size: 1.6rem;
        color: var(--gray-700);
        background: var(--blue-900);
        transition: filter .2s;

        &:hover {
            filter: brightness(0.9);
        }
    }
}

.backgroundContainer {
    @media (max-width: 770px) {
        display: none;
    }

    img {
        width: 50rem;
        height: 50rem;
    }
}
